
body {
    margin: 0;
    background-color: #F4F4F4;
}




header {
    background-color: white;
    /* position: relative;     */
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    
}

.cards {
    background-color: #F4F4F4;
}


.columns {
    display: grid;
    gap: 1em;
    margin: 0.5em;
    
      
}

@media (min-width:720px)  {
    .columns {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 20%;
    }
}


.card {
    background: rgba(247,249,250,.88); 
    border-color: rgba(173,206,195,.38);
    border: solid 1px;
    border-color: rgba(210,225,236,.88);
    border-radius: 3px 10px 3px 3px;
    padding: 0.7em;
 }

 .card:hover {
     background-color: #f1f8ee;
     cursor: pointer;
 }



.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    list-style: none;
    padding: 0;

}


.tag {
    background-color: rgb(230, 225, 225);
    padding: 0.3em;
    border-radius: 3px;
}

.tag:hover {
    background-color: lightblue;
    cursor: pointer;
}


/* The Blog post section  */

.blog_section {
    background-color: #F4F4F4;
    
}




@media (min-width:720px)  {
    .blog_posts {
        display: inline-block;
        margin: 0.5em;
        margin: 0 20%;   
    
    }
    
    .posts {
        margin: 0 20%;   
        list-style: none;
        padding: 0;
    }
    
}



/* END: The Blog post section  */